# Mission Control Portal → API Keys
TELNYX_API_KEY=KEYxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Voice API Applications  → Application ID
TELNYX_CONNECTION_ID=

# Actual salesperson number to which calls will be forwarded
SALES_PHONE_NUMBER=+37200000000

# Local server port
PORT=8000

# Whether to record calls (true/false)
RECORD_CALLS=true